node_modules
.next
.git
.gitignore
*.md
.vscode
.archive
.github
tests
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
k8s
*.ps1
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
